@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

#contact_modal {
	display: none;
}
.bground {
	display: none;
}

/**
  * info photograph
  */
.photograph-header {
	background-color: #fafafa;
	height: 300px;
	margin: 0 100px;
}
.photograph-header-flexbox {
	height: 300px;
	width: auto;
	display: flex;
	flex-direction: row;
}
.photograph-header-flexbox-left {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 10px;
}
.photograph-header-flexbox-center {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.photograph-header-flexbox-right {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.photograph-header-flexbox article {
	display: flex;
	flex-direction: column;
}

.photograph-header-flexbox article h2 {
	color: #d3573c;
	font-size: 36px;
}
.photograph-header-flexbox article h3 {
	margin-top: -1.2em;
	font-size: 1.2em;
}
.photograph-header-flexbox article p {
	margin-top: -0.2em;
	font-size: 1em;
}

.photograph-header-flexbox img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin-right: 10px;
	object-fit: cover;
}
/**
  * selecteur de trie
  */
.control {
	margin-left: 6.5em;
}
select {
	background-color: #901c1c;
	font-size: 1rem;
	padding: 2px 5px;
	width: 10rem;
	height: 3rem;
	color: white;
	border: none;
	border-radius: 5px;
}
/**
  * photo
  */

.photograph-media {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin-top: 20px;
	width: 90%;
	margin-left: 6em;
}

.photograph-media article {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: center;
	flex-direction: column;
}
.photograph-media div:focus {
	outline: 3px solid black;
}
.mediaimg {
	width: 300px;
	height: 300px;
	object-fit: cover;
	cursor: pointer;
}
.titlepriceflex {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.titlepriceflex p {
	color: #901c1c;
	font-size: 18px;
}
.titlepriceflex i {
	color: #901c1c;
	display: flex;
	gap: 5px;
}
.likeflex {
	color: #901c1c;
	display: flex;
	gap: 5px;
}
/**
  * text like et prix
  */
.photograph-priceandtotallike {
	color: black;
	display: inline-flex;
	align-items: center;
	gap: 5px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #db8876;
	padding-left: 20px;
	padding-right: 20px;
}
.conteurflex {
	display: flex;
	gap: 5px;
}
/**
  * modal
  */
.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
}
.contact_button:focus {
	background-color: #db8876;
}
.contact_button:hover {
	background-color: #db8876;
}
#contact_modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 0px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(25, 25, 25, 0.5);
}
.modal {
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
	margin-top: 50px;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.modal header {
	justify-content: space-between;
	width: 100%;
	margin-bottom: 40px;
}
#valid {
	display: none;
}
#modal-photo-name {
	margin-top: -50px;
}

.modal header img {
	cursor: pointer;
}

.modal header h1 {
	font-size: 34px;
	font-weight: normal;
	text-align: center;
	color: black;
}

.modal header h2 {
	font-size: 64px;
	font-weight: normal;
	text-align: center;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 0.2rem;
}

form input {
	width: 100%;
	font-size: 2rem;
	height: 2.2rem;
	border: none;
	border-radius: 5px;
}

.row > .column {
	padding: 0 8px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
	float: left;
	width: 25%;
}

/* The Modal (background) */
.imgModal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: white;
}

/* Modal Content */
.imgmodal-content {
	position: relative;
	margin: auto;
	padding: 0;
	width: 100%;
	max-width: 100vw;
}

/* The Close Button */
.close {
	color: #901c1c;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 55px;
	font-weight: bold;
	z-index: 98;
}

.close:hover,
.close:focus {
	color: #d3573c;
	text-decoration: none;
	cursor: pointer;
	outline: 3px solid black;
}

/* Hide the slides by default */
.mySlides {
	display: none;
}
.mySlides img {
	width: 100%;
	height: 80vh;
	margin-top: -5vh;
	object-fit: contain;
}
.mySlides video {
	width: 100%;
	height: 80vh;
	margin-top: -10vh;
	object-fit: contain;
}
/* Caption text */
.mySlides p {
	background-color: white;
	padding: 2px 16px;
	font-size: 16px;
	color: #901c1c;
	position: relative;
	text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
	z-index: 99;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #901c1c;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	color: #d3573c;
	outline: 3px solid black;
}
.prev:focus,
.next:focus {
	color: #d3573c;
	outline: 3px solid black;
}
